<!DOCTYPE html>
<html>
<head>
    <title>Add Property</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Add Property</h2>

<form method="POST" style="text-align:center;">

    <input type="text" name="title" placeholder="Title"><br><br>

    <input type="text" name="location" placeholder="Location"><br><br>

    <input type="number" name="price" placeholder="Price"><br><br>

    <button type="submit" class="btn-main">Add Property</button>

</form>

</body>
</html>