<!DOCTYPE html>
<html>
<head>
    <title>Properties</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<h2>Available Properties</h2>

<div class="container mt-4">
    <div class="row">

        {% for p in properties %}
        <div class="col-md-4 mb-4">

            <div class="card shadow">

                <div class="img-container">
                    <img src="https://loremflickr.com/500/300/apartment?random={{ p[0] }}">
                </div>

                <div class="card-body">
                    <h5>{{ p[1] }}</h5>

                    <p class="location">📍 {{ p[2] }}</p>

                    <p class="price">₹{{ p[3] }}</p>

                    <a href="/property/{{ p[0] }}" class="btn btn-primary">View Details</a>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div>

</body>
</html>